.layout-page-header {
    text-align: center;
}
	.layout-page-header h2 {
	    font-weight: 700;
	    font-size: 40px !important;
	    color: #fff;
	    display: block;
	    padding: 90px 0;
	}
	
.layout_bg{
	 background: rgba(255,255,255,.8);
    margin:0 auto;
    padding: 50px 0;
    width: 75%;
    text-align: center;
    margin-bottom: 50px;
}
iframe{
    overflow: hidden;
    width: 1100px;
    height: 2200px;
}